*.py[cod]
*DEV.py
log/*
input/*
output/*
venv/*
midi/*
.vscode/*
game_state.json
.lite_mode
!input/*_inputList.txt
!input/required_files_(overrides_above)*TEST*.xlsx
!input/*template*.xlsx
input/unwanted_files_(overrides_the_override_above)*TEST*xlsx
*test*.py
!test_setup.py
server.pid
server.log
championship-squares.desktop
championship-squares.lnk
icon.ico
